
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    text-shadow: none;
    background-color: #ffffff;
    border-radius: 0px;

}

.bs-sidenav .nav > li > a {
    display: block;
    padding: 5px 0px;
    color: #444444;
}
.bs-sidenav .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-size: 90%;
}

.bs-sidenav .nav .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 20px;
    font-size: 90%;
}

.bs-sidenav .nav .nav .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

